 h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

} 
.submitbtn{
    background-color:rgb(0, 102, 255);
    color: #fff;
    padding: 2%;
    font-size: 22px;
    margin-top: 10px;
    bottom:0 ;
    cursor: pointer;
}
input{
    padding: 2%;
}
label{
    font-size: 20px;
    font-weight: bolder;
    margin-top:20px;
}
@media(min-width:300px) and (max-width:500px){
    form{
        width: 80%;
    }
    label{
    color: green;
    }
    #form-body{
        margin-top: 15%;
    }
}


#form-body{
    margin-top: 10%;
    border:2px solid black;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input{
    border-radius: 15px;
}
.input:hover{

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button{
 margin-top: 10%;   
}
#terms{
    font-size: 15px;
    cursor: pointer;
}
#terms_check{
    margin-bottom: -15px;
}
#conditionbox{
    display: inline-flex;
}
